.nav-container{
    height: 120px;
    width: 100%;
    display: flex;
   }
   .mobile-email{
    display: flex;
   }
   .mobile-email p {
    font-family: Ubuntu, sans-serif;
    font-size: 12px;
    font-weight: 400px;
    line-height: 30px;
    color: rgb(119, 119, 119);
   }
   .logo-container {
    width: 40%;
    height: 100%;
   
   }
   .logo-container div  img {
     width: 350px;
     height: 100%;
     margin-left: 50px;
   }
   .logo-container div {
    margin-left: 100px;
    margin-top: 15px;

   }
   .mobile-email{
    display: flex;
    width: 100%;
    height: 40%;
    padding: 10px, 10px, 10px, 10px;
    margin-left: 135px;
    margin-top: 10px;
   }
   .home-section{
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 400px;
    line-height: 65px;
    color: rgb(246, 128, 32);
    margin-left: 30px;
   }
   .container-contact1 {
        width: 100%;
        height: 45px;
    }
    .container-contact2 {
        display: flex;
        margin-top: -50px;
        display: absolute;
        gap: 950px;
        margin-left: 170px;
    }
    .container-contact2 p {
        font-size: 19.5px;
        font-weight: 100;
        line-height: 24px;
        color: rgb(51, 51, 51);
        font-family: Ubuntu, sans-serif;
        margin-top: 14px;
    }
    .container-contact2 p a {
        font-size: 14px;
        font-weight: 200;
        line-height: 24px;
        color: rgb(51, 51, 51);
        font-family: Ubuntu, sans-serif;
    }
    .mid-container-admission{
        display: flex;
        width:  79%;
        height: 1290px;
        margin-top: 28px;
        margin-left: 140px;
        gap: 20px;
    }
    .img_and_info {
        width: 65%;
        height: 590px;
        margin-left: 20px;
    }
    .img_and_info img {
        width: 100%;
        height: 340px;
    }
    .img_and_info p {
      text-align: justify;
      display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #777;
    font-size: 13px;
    line-height: 21px;
    font-family: 'Ubuntu', sans-serif;
    }
    .latest_circulars {
        width: 35%;
        height: 450px;
    }
    .latest_circulars img {
        width: 90%;
        height: 450px;
        margin-left: 15px;
    }
    .footer-container {
    width: 100%;
    height: 340px;
    border: 1px solid black;
    background: url(/SRC/bg_patt.jpg); 
    position: relative; 
   
}
.footer-widget {
    position: absolute;
    width: 100%;
    float: left;
}
.footer-widget  {
    box-sizing: border-box;
    text-align: left;
    width: 59%;
    height: 80%;
    margin-top: 20px;
    margin-left: 155px;
}
.footer-widget h2 {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Ubuntu', sans-serif;
}

.footer-widget p {
    font-size: 13px;
    line-height: 21px;
    font-family: 'Ubuntu', sans-serif;
}
.footer-img {
  margin-left: 1070px;
  margin-top: 33px;
}
.footer-img img {
  height: 220px;
}
.footer-info img {
   width: 1150px;
   height: auto;
   margin-left: 150px;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #777;
    font-size: 13px;
    line-height: 21px;
    font-family: 'Ubuntu', sans-serif;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    display: table;
    box-sizing: border-box;
    border-color: gray;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
}
td {
    display: table-cell;
    vertical-align: inherit;
    padding-bottom: 5px;
    text-align: left;
}
table tr:nth-child(odd) {
    background-color: #eeeeee;
}
table tr:nth-child(even) {
    background-color: #e4e4e4;
}
tr {
    padding: 5px;
}